{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "targets": {
                    "node": true
                }
            }
        ],
        "@babel/preset-react"
    ]
}